<div class="modal" ng-controller="UsersController" >
  <div class="modal__head">
    <h2 ng-show="typeOfModal">Create new User</h2>
    <h2 ng-show="!typeOfModal">Update existing User</h2>
    <button class="modal__close" ng-click="modalClose()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a{fill:#a4a4b5;}.b{fill:none;}</style></defs><path class="a" d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"/><path class="b" d="M0,0H24V24H0Z"/></svg>
    </button>
  </div>
  <div class="modal__main">
    <form ng-submit="submitForm()" name="userForm" novalidate>
        <label for="username">Username*</label>
        <input type="text" name="username" ng-class="{'error-input' : userForm.username.$error.required && userForm.username.$dirty || usernameTaken}" ng-model="chosenUser.username" required ng-change="checkUsername()">
        <span ng-show="userForm.username.$error.required && userForm.username.$dirty">Username is required</span>
        <span ng-show="usernameTaken">Username already taken</span><br>

        <label>First Name*</label>
        <input type="text" name="first_name" ng-model="chosenUser.first_name" required
        ng-class="{'error-input' : userForm.first_name.$error.required && userForm.first_name.$dirty }">
        <span ng-show="userForm.first_name.$error.required && userForm.first_name.$dirty">First Name is required</span>

        <label>Last Name*</label>
        <input type="text" name="last_name" ng-model="chosenUser.last_name" required
        ng-class="{'error-input' : userForm.last_name.$error.required && userForm.last_name.$dirty }">
        <span ng-show="userForm.last_name.$error.required && userForm.last_name.$dirty">Last Name is required</span>

        <label>Email*</label>
        <input type="email" name="email" ng-model="chosenUser.email" required ng-change="checkEmail()"
        ng-class="{'error-input' : userForm.email.$error.required && userForm.email.$dirty || emailTaken}">
        <span ng-show="userForm.email.$error.required && userForm.email.$dirty">Email is required</span>
        <span ng-show="emailTaken">Email already taken</span><br>
      
        <label>User Type*</label>
        <select ng-model="chosenUser.user_type" required name="user_type"
        ng-class="{'error-input' : userForm.user_type.$error.required && userForm.user_type.$dirty }">
          <option value="Admin">Admin</option>
          <option value="Driver">Driver</option>
        </select>
        <span ng-show="userForm.user_type.$error.required && userForm.user_type.$dirty">User Type is required</span><br>
      
        <label>Password*</label>
        <input type="password" name="password" ng-model="chosenUser.password" required ng-change="checkPasswords()"
        ng-class="{'error-input' : userForm.password.$error.required && userForm.password.$dirty }">
        <span ng-show="userForm.password.$error.required && userForm.password.$dirty">Password is required</span><br>
      
        <label>Repeat Password*</label>
        <input type="password" name="repeatPassword" ng-model="repeatPassword" required ng-change="checkPasswords()"
        ng-class="{'error-input' : userForm.repeatPassword.$error.required && userForm.repeatPassword.$dirty || !passwordsMatch}">
        <span ng-show="userForm.repeatPassword.$error.required || userForm.repeatPassword.$error.required && userForm.repeatPassword.$dirty">Repeat Password is required</span>
        <span ng-show="userForm.repeatPassword.$dirty && !passwordsMatch">Passwords should match</span><br>
      
        <div class="modal__create" ng-show="typeOfModal">
          <button class="submit" ng-disabled="userForm.$invalid" type="submit">Save</button>
        </div>
    
        <div class="modal__update" ng-show="!typeOfModal" ng-else>
          <button class="cancel" type="button" ng-click="modalClose()">Cancel</button>
          <button class="submit" ng-disabled="userForm.$invalid && !passwordsMatch" type="submit">Save</button>
        </div>
      </form>
    </div>
</div>
